@import url('https://fonts.googleapis.com/css?family=Arimo|Roboto:400,700&display=swap');
@font-face {
   
   font-family: 'Roboto';
   
}


body{
	font-family:"Arimo";
	font-size: 14px;
	color: #666;
}
header{
	background-color: rgba(29,14,0,0.7) !important;
}

#slides{
    background-size: cover;
    background-position: center;

    color: #fff;
    position: relative;
  
	text-align: center;
}

#slides h1{
	padding: 20px, 0;
}

#our-specialty{
	background-color: #432A1C; 
	color: #FFFFFF;
	padding-top: 40px;
	text-transform: uppercase;
}

.titulo{
	text-align: center;
}


footer{
	background-color: #432A1C;
	padding: 25px 0;
	border-top: 4px solid #432a1c;
	color: #fff;
	text-align: center;
}
footer img {
    margin-bottom: 25px;
    margin-top: 10px;
}